@font-face {
    font-family: Nunito-regular;
    src: url("../fonts/Nunito-Regular.ttf");
}
body{
    font-family: Nunito-regular, sans-serif;
    margin: 0 auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, #FFFFFB 50%, #F8F8FA 50%);
}
#container {
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;

}
#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#h1{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 112px;
    padding-right: 11px;
}
#h1 span{
    color: red;
    font-size: 42px;

}
#form_block{
    max-width: 500px;
}
#form_title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 7px;
}
#form_text{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #636363;
    margin-bottom: 40px;
}
#inputs_block{
    display: flex;
    flex-direction: column;
}
#inputs_block span{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #C6C6C4;
    margin-bottom: 5px;
}
input{
    padding-top: 10px;
    padding-bottom: 5px;
    border: 0;
    border-bottom: 1px solid #C6C6C4;
    margin-bottom: 20px;
}

::placeholder{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #323232;
}
#annotation{
    margin-bottom: 30px;
}
#bottom_chek{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 10px;
}
#annotation a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #636363;

}
#main_action{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 44px;
    justify-content: center;
}
#button{
    background: #DD3142;
    border-radius: 40px;
    border: 0;
    max-width: 210px;
    padding: 21px 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}
#action{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #636363;
    text-decoration: none;

}
#img{
    padding-left: 10px;
}

